body {
    margin: 0;
    position: absolute;
    left: 10px;
    top: 0;
}
div.name {
    big: yes;
}
/* 这是注释 */
a:hover {
    
}
#idhere {
   width: 100px !important;
}

.col{
    color:#ffffff; 
    font-size:12px;
    border:1px sold #181818!important;
}

